body{
    background-color: #FCF2F0;
}

.error-message{
    text-align: center;
    margin-top: 10px;
    color: crimson;
    font-weight: bold;
}

.container a {
    color: #D87053;
    text-decoration: none;
}

.container a:hover {
    color: #C35E45;
}

.container p{
    color: #D87053;
}

.container h3{
    color: #D87053;
    font-family: "Book Antiqua", serif;
}




